Требования:
1. Адаптивность.
2. Страница занимает весь экран независимо от устройства (не появляются полосы прокрутки).
3. Данные формы валидируются по мере заполнения. Сообщения о неправильном заполнении полей выводятся под полем ввода.
4. Запрос отправляется только при условии валидности всех полей.
5. После отправки, показать всплывающее уведомление об успешной регистрации или ошибке.

Формат данных для полей формы:
i. И-мейл – формат адреса электронной почты.
ii. Пароль – латинские буквы и цифры, обязательно в разных регистрах и как минимум одна цифра, не меньше 8 знаков.