<div class="customizer customizer--header js-dropdown-container">
  <button class="customizer-btn js-dropdown-btn">Customize header</button>
  <div class="customizer__content">
    <div class="color-picker"></div>
  </div>
</div>
<div class="customizer customizer--font js-dropdown-container">
  <button class="customizer-btn js-dropdown-btn">Customize Font</button>
  <div class="customizer__content">
    <div class="color-picker"></div>
  </div>
</div>
<div class="customizer customizer--background js-dropdown-container">
  <button class="customizer-btn js-dropdown-btn">Customize Background</button>
  <div class="customizer__content">
    <div class="color-picker"></div>
  </div>
</div>