
<footer class="footer">
	<div class="footer__logo footer__logo_left">
		Our Logo
	</div>
	<div class="footer__center">
		<div class="footer__partners">
			{% for item in [
				'a',
				'netent',
				'amatic',
				'isoftbet',
				'quickspin',
				'aristokrat',
				'gaminator',
				'green_tube',
				'igt',
				'wazdan',
				'microgaming',
				'ap',
				'simple_games'
			] %}
				<div class="footer__item">
					<span class="icon-{{ item }}"></span>
				</div>
			{% endfor %}
		</div>
		<div class="footer__payments">
			{% for item in [
				'visa',
				'maestro',
				'master_card',
				'web_money',
				'yandex_money',
				'q'
			] %}
				<div class="footer__item">
					<span class="icon-{{ item }}"></span>
				</div>
				
			{% endfor %}
		</div>
		<div class="footer__icon">
			<span class="icon-min_age"></span>
		</div>
	</div>
	<div class="footer__logo footer__logo_right">
		Our Logo
	</div>
</footer