<div class="modal is-open" data-modal="error-modal">
  <div class="modal__container modal__container_error" data-modal-container>
    <div class="modal__inner">
      <div class="modal__text">
        Пользователь с таким имейлом/телефоном уже существует
      </div>
    </div>
  </div>
</div>

<div class="modal" data-modal="success-modal">
  <div class="modal__container modal__container_success" data-modal-container>
    <div class="modal__inner">
			<div class="modal__title">Добро пожаловать!</div>
			<div class="modal__logo">
				Some logo
			</div>
			<div class="modal__descr">
				Для активации аккаунта выполните инструкцию в письме, которое мы отправили на Ваш E-mail.
			</div>
      <div class="modal__descr-small">
				После активации Вы сможете войти в свой личный кабинет, используя свой логин и пароль.
			</div>
			<div class="modal__wish">ЖЕЛАЕМ УДАЧНОЙ ИГРЫ!</div>
			<div class="modal__cta">
				<a href="/" class="btn">
					<span class="btn__text">на главную!</span>
				</a>
			</div>
    </div>
  </div>
</div>
