.form
	// --title-color: $red
	display: flex
	flex-direction: column
	justify-content: space-between
	max-width: 665px
	width: 100%
	+cover
	padding: 27px 30px 32px
	border: 3px solid #c7a221
	border-radius: 5px
	+xl 
		padding: 21px 26px 32px
	&__title
		margin-bottom: 24px
		text-align: center
		text-shadow: 0 3px 11px $black
		// color: var(--title-color, $white)
		// color: $white
		font-family: $circle
		+f(53px, 700, 1)
		letter-spacing: -0.02em
		word-spacing: 0.043em
		+xl
			font-size: 46px
			margin-bottom: 18px
		+xs
			font-size: 20px
	&__input-group
		position: relative
		margin-bottom: 23px
		+xs 
			margin-bottom: 16px
		.help-block.form-error
			position: absolute
			top: 100%
			left: 2px
			width: 100%
			text-shadow: 0 3px 11px $black
			color: $white
			font-family: $circle
			+f(18px, 400, 1)
			+xl 
				font-size: 16px
			+xs 
				font-size: 14px
	&__checkbox
		padding-left: 40px
		padding-bottom: 18px
		+md 
			padding-left: 30px
			padding-bottom: 12px
		+xs 
			padding-left: 0
		.help-block.form-error
			display: none
	&__submit
		text-align: center
		margin-bottom: -81px
		+xs 
			margin-bottom: -50px

.highlighted
	color: #da7d0f
	color: transparent
	background-image: linear-gradient(to top, #c05302 0%, #da7d0f 100%)
	-webkit-background-clip: text
	text-shadow: 0 3px 11px rgba($black, 0.6)

.input
	padding: 22px 10px 17px
	width: 100%
	color: $black
	font-family: $circle
	+f(25px, 300, 1.5677)
	border: 3px solid transparent
	height: 64px
	background-color: $white
	transition: border-color $tr
	+xl
		height: 56px
		font-size: 22px
	+xs 
		height: 30px
		font-size: 18px
	&:focus
		border-color: $green
	&.error
		border-color: $red !important
	&:placeholder
		color: $black
		font-family: $circle
		+f(22px, 300, 1.5677)

.checkbox
	display: flex
	align-items: center
	cursor: pointer
	user-select: none
	&__input
		position: absolute
		top: 0
		height: 0
		width: 0
		opacity: 0
		visibility: hidden
		&:checked
			~ .checkbox__icon:before
				transform: scale(1) rotate(45deg) translate(-1px,-1px)
	&__text
		display: inline-block
		max-width: 390px
		padding-left: 32px
		text-shadow: 0 3px 11px #000000
		color: $white
		+f(24px, 400, 1.2)
		position: relative
		text-align: center
		+md 
			max-width: 350px
			padding-left: 24px
			font-size: 21px
		+xs 
			font-size: 12px
			padding-left: 6px
			text-align: left
		a 
			color: inherit
			text-decoration: none
			transition: color $tr
			+hover
				color: $green
	&__icon
		display: inline-block
		flex-shrink: 0
		position: relative
		width: 44px
		height: 44px
		border-radius: 3px
		border: 3px solid $lightGrey
		background-color: $lightGrey
		+md 
			height: 40px
			width: 40px
		+xs 
			width: 20px
			height: 20px
		.has-error &
			border-color: $red
		&:before
			content: ''
			position: absolute
			transition: transform .4s cubic-bezier(.45,1.8,.5,.75)
			transform: scale(0) rotate(45deg) translate(-1px,-1px)
			top: 0
			bottom: 0
			left: 0
			right: 0
			margin: auto
			z-index: 1
			border-right: 2px solid $green
			border-bottom: 2px solid $green
			height: 15px
			width: 12px
			+xs 
				height: 10px
				width: 8px
