[data-modal]
	position: fixed
	z-index: -1
	top: 0
	left: 0
	right: 0
	bottom: 0
	opacity: 0
	visibility: hidden
	min-width: 320px
	display: flex
	justify-content: center
	align-items: center
	+gpu
	overflow: auto
	transition: opacity 0.3s, visibility 0.3s, z-index 0.3s
	background-color: rgba($black, 0.5)

[data-modal]
	&.is-open
		opacity: 1
		visibility: visible
		z-index: 100

[data-modal-container]
	position: relative
	z-index: 1

.modal
	&__container
		width: 100%
		margin-top: 10.2vh
		margin-bottom: auto
		background-color: $purple
		color: $white
		text-align: center
		&_error
			max-width: 663px
			padding: 79px 10px 87px
			margin-top: 30vh
		&_success
			max-width: 791px
			padding: 50px 0 25px
		+sm 
			padding: 40px 15px
	&__title
		padding-bottom: 3vh
		font-family: $myriad
		+f(43px, 400, 1.2)
		text-transform: uppercase
		+md 
			font-size: 30px
	&__logo
		margin-bottom: 2vh
		background-color: #1b1b1b
		display: flex
		align-items: center
		justify-content: center
		height: 14.82vh
		min-height: 100px
	&__text
		font-weight: 400
		+xl 
			font-size: 20px
	&__descr
		margin-bottom: 36px
		padding: 0 10px
		font-weight: 700
		+md 
			margin-bottom: 18px
		+xs 
			margin-bottom: 8px
	&__descr-small
		color: $white
		font-family: $myriad
		+f(18px, 400, 1.7)
		padding: 0 96px 20px
		+md
			padding: 20px
			+f(14px, 400, 1.2)
	&__wish
		margin-bottom: 2.5vh
		text-transform: uppercase