// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$-amatic-2x-name: 'Amatic@2x'
$-amatic-2x-x: 0px
$-amatic-2x-y: 402px
$-amatic-2x-offset-x: 0px
$-amatic-2x-offset-y: -402px
$-amatic-2x-width: 252px
$-amatic-2x-height: 96px
$-amatic-2x-total-width: 914px
$-amatic-2x-total-height: 864px
$-amatic-2x-image: '../img/sprite.png'
$-amatic-2x: (0px, 402px, 0px, -402px, 252px, 96px, 914px, 864px, '../img/sprite.png', 'Amatic@2x', )
$-netent-2x-name: 'Netent@2x'
$-netent-2x-x: 662px
$-netent-2x-y: 112px
$-netent-2x-offset-x: -662px
$-netent-2x-offset-y: -112px
$-netent-2x-width: 204px
$-netent-2x-height: 96px
$-netent-2x-total-width: 914px
$-netent-2x-total-height: 864px
$-netent-2x-image: '../img/sprite.png'
$-netent-2x: (662px, 112px, -662px, -112px, 204px, 96px, 914px, 864px, '../img/sprite.png', 'Netent@2x', )
$-slice-1-2x-name: 'Slice_1@2x'
$-slice-1-2x-x: 536px
$-slice-1-2x-y: 514px
$-slice-1-2x-offset-x: -536px
$-slice-1-2x-offset-y: -514px
$-slice-1-2x-width: 96px
$-slice-1-2x-height: 96px
$-slice-1-2x-total-width: 914px
$-slice-1-2x-total-height: 864px
$-slice-1-2x-image: '../img/sprite.png'
$-slice-1-2x: (536px, 514px, -536px, -514px, 96px, 96px, 914px, 864px, '../img/sprite.png', 'Slice_1@2x', )
$ap-2x-name: 'ap@2x'
$ap-2x-x: 536px
$ap-2x-y: 402px
$ap-2x-offset-x: -536px
$ap-2x-offset-y: -402px
$ap-2x-width: 100px
$ap-2x-height: 96px
$ap-2x-total-width: 914px
$ap-2x-total-height: 864px
$ap-2x-image: '../img/sprite.png'
$ap-2x: (536px, 402px, -536px, -402px, 100px, 96px, 914px, 864px, '../img/sprite.png', 'ap@2x', )
$aristocrat-2x-name: 'aristocrat@2x'
$aristocrat-2x-x: 268px
$aristocrat-2x-y: 402px
$aristocrat-2x-offset-x: -268px
$aristocrat-2x-offset-y: -402px
$aristocrat-2x-width: 252px
$aristocrat-2x-height: 96px
$aristocrat-2x-total-width: 914px
$aristocrat-2x-total-height: 864px
$aristocrat-2x-image: '../img/sprite.png'
$aristocrat-2x: (268px, 402px, -268px, -402px, 252px, 96px, 914px, 864px, '../img/sprite.png', 'aristocrat@2x', )
$facebook-name: 'facebook'
$facebook-x: 882px
$facebook-y: 166px
$facebook-offset-x: -882px
$facebook-offset-y: -166px
$facebook-width: 10px
$facebook-height: 19px
$facebook-total-width: 914px
$facebook-total-height: 864px
$facebook-image: '../img/sprite.png'
$facebook: (882px, 166px, -882px, -166px, 10px, 19px, 914px, 864px, '../img/sprite.png', 'facebook', )
$facebook-2x-name: 'facebook@2x'
$facebook-2x-x: 882px
$facebook-2x-y: 112px
$facebook-2x-offset-x: -882px
$facebook-2x-offset-y: -112px
$facebook-2x-width: 20px
$facebook-2x-height: 38px
$facebook-2x-total-width: 914px
$facebook-2x-total-height: 864px
$facebook-2x-image: '../img/sprite.png'
$facebook-2x: (882px, 112px, -882px, -112px, 20px, 38px, 914px, 864px, '../img/sprite.png', 'facebook@2x', )
$gaminator-2x-name: 'gaminator@2x'
$gaminator-2x-x: 662px
$gaminator-2x-y: 0px
$gaminator-2x-offset-x: -662px
$gaminator-2x-offset-y: 0px
$gaminator-2x-width: 252px
$gaminator-2x-height: 96px
$gaminator-2x-total-width: 914px
$gaminator-2x-total-height: 864px
$gaminator-2x-image: '../img/sprite.png'
$gaminator-2x: (662px, 0px, -662px, 0px, 252px, 96px, 914px, 864px, '../img/sprite.png', 'gaminator@2x', )
$green-tube-2x-name: 'green_tube@2x'
$green-tube-2x-x: 662px
$green-tube-2x-y: 224px
$green-tube-2x-offset-x: -662px
$green-tube-2x-offset-y: -224px
$green-tube-2x-width: 184px
$green-tube-2x-height: 96px
$green-tube-2x-total-width: 914px
$green-tube-2x-total-height: 864px
$green-tube-2x-image: '../img/sprite.png'
$green-tube-2x: (662px, 224px, -662px, -224px, 184px, 96px, 914px, 864px, '../img/sprite.png', 'green_tube@2x', )
$igt-2x-name: 'igt@2x'
$igt-2x-x: 662px
$igt-2x-y: 452px
$igt-2x-offset-x: -662px
$igt-2x-offset-y: -452px
$igt-2x-width: 168px
$igt-2x-height: 96px
$igt-2x-total-width: 914px
$igt-2x-total-height: 864px
$igt-2x-image: '../img/sprite.png'
$igt-2x: (662px, 452px, -662px, -452px, 168px, 96px, 914px, 864px, '../img/sprite.png', 'igt@2x', )
$isoftbet-2x-name: 'isoftbet@2x'
$isoftbet-2x-x: 0px
$isoftbet-2x-y: 514px
$isoftbet-2x-offset-x: 0px
$isoftbet-2x-offset-y: -514px
$isoftbet-2x-width: 252px
$isoftbet-2x-height: 96px
$isoftbet-2x-total-width: 914px
$isoftbet-2x-total-height: 864px
$isoftbet-2x-image: '../img/sprite.png'
$isoftbet-2x: (0px, 514px, 0px, -514px, 252px, 96px, 914px, 864px, '../img/sprite.png', 'isoftbet@2x', )
$maestro-name: 'maestro'
$maestro-x: 662px
$maestro-y: 336px
$maestro-offset-x: -662px
$maestro-offset-y: -336px
$maestro-width: 164px
$maestro-height: 100px
$maestro-total-width: 914px
$maestro-total-height: 864px
$maestro-image: '../img/sprite.png'
$maestro: (662px, 336px, -662px, -336px, 164px, 100px, 914px, 864px, '../img/sprite.png', 'maestro', )
$master-card-name: 'master_card'
$master-card-x: 0px
$master-card-y: 626px
$master-card-offset-x: 0px
$master-card-offset-y: -626px
$master-card-width: 160px
$master-card-height: 100px
$master-card-total-width: 914px
$master-card-total-height: 864px
$master-card-image: '../img/sprite.png'
$master-card: (0px, 626px, 0px, -626px, 160px, 100px, 914px, 864px, '../img/sprite.png', 'master_card', )
$microgaming-2x-name: 'microgaming@2x'
$microgaming-2x-x: 278px
$microgaming-2x-y: 256px
$microgaming-2x-offset-x: -278px
$microgaming-2x-offset-y: -256px
$microgaming-2x-width: 330px
$microgaming-2x-height: 96px
$microgaming-2x-total-width: 914px
$microgaming-2x-total-height: 864px
$microgaming-2x-image: '../img/sprite.png'
$microgaming-2x: (278px, 256px, -278px, -256px, 330px, 96px, 914px, 864px, '../img/sprite.png', 'microgaming@2x', )
$q-name: 'q'
$q-x: 0px
$q-y: 742px
$q-offset-x: 0px
$q-offset-y: -742px
$q-width: 128px
$q-height: 122px
$q-total-width: 914px
$q-total-height: 864px
$q-image: '../img/sprite.png'
$q: (0px, 742px, 0px, -742px, 128px, 122px, 914px, 864px, '../img/sprite.png', 'q', )
$quickspin-2x-name: 'quickspin@2x'
$quickspin-2x-x: 268px
$quickspin-2x-y: 514px
$quickspin-2x-offset-x: -268px
$quickspin-2x-offset-y: -514px
$quickspin-2x-width: 252px
$quickspin-2x-height: 96px
$quickspin-2x-total-width: 914px
$quickspin-2x-total-height: 864px
$quickspin-2x-image: '../img/sprite.png'
$quickspin-2x: (268px, 514px, -268px, -514px, 252px, 96px, 914px, 864px, '../img/sprite.png', 'quickspin@2x', )
$simple-games-2x-name: 'simple_games@2x'
$simple-games-2x-x: 364px
$simple-games-2x-y: 144px
$simple-games-2x-offset-x: -364px
$simple-games-2x-offset-y: -144px
$simple-games-2x-width: 264px
$simple-games-2x-height: 96px
$simple-games-2x-total-width: 914px
$simple-games-2x-total-height: 864px
$simple-games-2x-image: '../img/sprite.png'
$simple-games-2x: (364px, 144px, -364px, -144px, 264px, 96px, 914px, 864px, '../img/sprite.png', 'simple_games@2x', )
$visa-2x-name: 'visa@2x'
$visa-2x-x: 0px
$visa-2x-y: 0px
$visa-2x-offset-x: 0px
$visa-2x-offset-y: 0px
$visa-2x-width: 274px
$visa-2x-height: 128px
$visa-2x-total-width: 914px
$visa-2x-total-height: 864px
$visa-2x-image: '../img/sprite.png'
$visa-2x: (0px, 0px, 0px, 0px, 274px, 128px, 914px, 864px, '../img/sprite.png', 'visa@2x', )
$wazdan-2x-name: 'wazdan@2x'
$wazdan-2x-x: 290px
$wazdan-2x-y: 0px
$wazdan-2x-offset-x: -290px
$wazdan-2x-offset-y: 0px
$wazdan-2x-width: 356px
$wazdan-2x-height: 96px
$wazdan-2x-total-width: 914px
$wazdan-2x-total-height: 864px
$wazdan-2x-image: '../img/sprite.png'
$wazdan-2x: (290px, 0px, -290px, 0px, 356px, 96px, 914px, 864px, '../img/sprite.png', 'wazdan@2x', )
$web-money-name: 'web_money'
$web-money-x: 0px
$web-money-y: 144px
$web-money-offset-x: 0px
$web-money-offset-y: -144px
$web-money-width: 348px
$web-money-height: 96px
$web-money-total-width: 914px
$web-money-total-height: 864px
$web-money-image: '../img/sprite.png'
$web-money: (0px, 144px, 0px, -144px, 348px, 96px, 914px, 864px, '../img/sprite.png', 'web_money', )
$yandex-money-name: 'yandex_money'
$yandex-money-x: 0px
$yandex-money-y: 256px
$yandex-money-offset-x: 0px
$yandex-money-offset-y: -256px
$yandex-money-width: 262px
$yandex-money-height: 130px
$yandex-money-total-width: 914px
$yandex-money-total-height: 864px
$yandex-money-image: '../img/sprite.png'
$yandex-money: (0px, 256px, 0px, -256px, 262px, 130px, 914px, 864px, '../img/sprite.png', 'yandex_money', )
$spritesheet-width: 914px
$spritesheet-height: 864px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($-amatic-2x, $-netent-2x, $-slice-1-2x, $ap-2x, $aristocrat-2x, $facebook, $facebook-2x, $gaminator-2x, $green-tube-2x, $igt-2x, $isoftbet-2x, $maestro, $master-card, $microgaming-2x, $q, $quickspin-2x, $simple-games-2x, $visa-2x, $wazdan-2x, $web-money, $yandex-money, )
$spritesheet: (914px, 864px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
