.icon-amatic {
  width: 3.47em;
  height: 1em;
  fill: currentColor;
}
.icon-ap {
  width: 1.17em;
  height: 1em;
  fill: currentColor;
}
.icon-aristocrat {
  width: 3.31em;
  height: 1em;
  fill: currentColor;
}
.icon-a_games {
  width: 3.24em;
  height: 1em;
  fill: currentColor;
}
.icon-gaminator {
  width: 4.67em;
  height: 1em;
  fill: currentColor;
}
.icon-green_tube {
  width: 3em;
  height: 1em;
  fill: currentColor;
}
.icon-IGT {
  width: 2.83em;
  height: 1em;
  fill: currentColor;
}
.icon-isoftbet {
  width: 4.73em;
  height: 1em;
  fill: currentColor;
}
.icon-maestro {
  width: 1.63em;
  height: 1em;
  fill: currentColor;
}
.icon-master_card {
  width: 1.63em;
  height: 1em;
  fill: currentColor;
}
.icon-microgaming {
  width: 4.18em;
  height: 1em;
  fill: currentColor;
}
.icon-netent {
  width: 2.93em;
  height: 1em;
  fill: currentColor;
}
.icon-q {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-quickspin {
  width: 4.09em;
  height: 1em;
  fill: currentColor;
}
.icon-simple_games {
  width: 4em;
  height: 1em;
  fill: currentColor;
}
.icon-visa {
  width: 3.29em;
  height: 1em;
  fill: currentColor;
}
.icon-wazdan {
  width: 10.86em;
  height: 1em;
  fill: currentColor;
}
.icon-webmoney {
  width: 3.94em;
  height: 1em;
  fill: currentColor;
}
